/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

h1, h2 {
    color: #333;
    text-align: center;
}

/* Centralização e espaçamento */
div {
    text-align: center;
    margin: 20px 0;
}

/* Estilização dos botões */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Estilos das áreas de resultado */
#totalVendas, #mediaTV, #mediaRadio, #mediaJornal {
    margin-top: 20px;
    font-size: 18px;
    color: #555;
}
